<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="new-credit-card-offcanvas">
    <div>


        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
             id="offcanvasCreditCard" aria-labelledby="offcanvasCreditCardLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasCreditCardLabel">Adicionar Novo Cartão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="creditCardForm">
                    <div class="mb-3">
                        <label for="cardNumber" class="form-label">Número do Cartão<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Digite o número do cartão" maxlength="19">
                        <div id="cardNumberError" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="holderName" class="form-label">Nome do Titular<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="holderName" name="holderName" placeholder="Digite o nome do titular">
                        <div id="holderNameError" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="expiryDate" class="form-label">Data de Validade<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="expiryDate" name="expiryDate" placeholder="MM/AA" maxlength="5">
                        <div id="expiryDateError" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="cvv" class="form-label">Código CVV<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="cvv" name="cvv" placeholder="Digite o CVV" maxlength="3">
                        <div id="cvvError" class="text-danger" style="display: none;"></div>
                    </div>
                    <button type="button" class="btn btn-primary" id="submitcreditCard" >Adicionar Cartão</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>