<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="new-address-offcanvas">
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
         id="offcanvasAddress" aria-labelledby="offcanvasAddressLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasAddressLabel">Adicionar Novo Endereço</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="addressForm">
                <div class="mb-3">
                    <label for="zipCode" class="form-label">CEP<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Digite o CEP"
                           maxlength="9">
                    <div id="zipCodeError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="street" class="form-label">Rua<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="street" name="street"
                           placeholder="Digite o nome da rua">
                    <div id="streetError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Número<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="number" name="number" placeholder="Digite o número">
                    <div id="numberError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="complement" class="form-label">Complemento</label>
                    <input type="text" class="form-control" id="complement" name="complement"
                           placeholder="Digite o complemento">
                    <div id="complementError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="neighborhood" class="form-label">Bairro<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="neighborhood" name="neighborhood"
                           placeholder="Digite o bairro">
                    <div id="neighborhoodError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">Cidade<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Digite a cidade">
                    <div id="cityError" class="text-danger" style="display: none;"></div>
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">Estado<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="Digite o estado (XX)"
                           maxlength="2">
                    <div id="stateError" class="text-danger" style="display: none;"></div>
                </div>

                <button type="button" class="btn btn-primary" id="submitAddress">Adicionar Endereço</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/libs/jquery.min.js}"></script>
    <script th:src="@{/js/address-form.js}"></script>
</div>
</body>
</html>