<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<body>
<div th:fragment="sidebar">

    <div class="flex-shrink-0 p-3 sidebar bg-primary vh-100 position-fixed top-0">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
            <img th:src="@{/img/logo_3.png}" alt="Logo" width="40" height="40"
                 class="bi me-3">
            <span class="fs-5 fw-semibold">T-SHIRT GEN</span>
        </a>
        <ul class="list-unstyled ps-0 ">
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed " data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                    Home
                </button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light rounded">Overview</a></li>
                        <li><a href="#" class="link-light rounded">Updates</a></li>
                        <li><a href="#" class="link-light rounded">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light rounded">Overview</a></li>
                        <li><a href="#" class="link-light rounded">Weekly</a></li>
                        <li><a href="#" class="link-light rounded">Monthly</a></li>
                        <li><a href="#" class="link-light rounded">Annually</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#orders-collapse" aria-expanded="false">
                    Orders
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light rounded">New</a></li>
                        <li><a href="#" class="link-light rounded">Processed</a></li>
                        <li><a href="#" class="link-light rounded">Shipped</a></li>
                        <li><a href="#" class="link-light rounded">Returned</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#products-collapse" aria-expanded="false">
                    Produtos
                </button>
                <div class="collapse" id="products-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a th:href="@{/admin/products/new}" class="link-light rounded">Novo</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#clients-collapse" aria-expanded="false">
                    Clientes
                </button>
                <div class="collapse" id="clients-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a th:href="@{/admin/clientes}" class="link-light rounded">listagem</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle link-light align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light rounded">New...</a></li>
                        <li><a href="#" class="link-light rounded">Profile</a></li>
                        <li><a href="#" class="link-light rounded">Settings</a></li>
                        <li><a class="link-light rounded" th:href="@{/auth/logout}">Sair</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <script th:src="@{/js/libs/popper.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/libs/jquery.min.js}"></script>
</div>
</body>
</html>