<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="address-profile">

    <div class="row g-0 mb-3 ">
        <div class="col-12">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasAddress_New"
                    aria-controls="offcanvasAddress_New">
                <i class="ri-add-line me-2"></i>Adicionar Novo Endereço
            </button>
        </div>
    </div>

    <div th:replace="public/fragments/offcanvas/edit-address-offcanvas :: edit-address-offcanvas(address=null, uniqueId='New' )"></div>

    <div th:each="address, iterStat : ${client.addresses}">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].zipCode"
                           th:value="${address.zipCode}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].street" th:value="${address.street}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].number" th:value="${address.number}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].complement"
                           th:value="${address.complement}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].neighborhood"
                           th:value="${address.neighborhood}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].city" th:value="${address.city}">
                    <input type="hidden" th:name="addresses[__${iterStat.index}__].state" th:value="${address.state}">
                    <p class="mb-1"><strong>CEP:</strong> <span th:text="${address.zipCode}"></span></p>
                    <p class="mb-1"><strong>Rua:</strong> <span th:text="${address.street}"></span></p>
                    <p class="mb-1"><strong>Número:</strong> <span th:text="${address.number}"></span></p>
                    <p class="mb-1"><strong>Complemento:</strong> <span th:text="${address.complement}"></span></p>
                    <p class="mb-1"><strong>Bairro:</strong> <span th:text="${address.neighborhood}"></span></p>
                    <p class="mb-1"><strong>Cidade:</strong> <span th:text="${address.city}"></span></p>
                    <p class="mb-1"><strong>Estado:</strong> <span th:text="${address.state}"></span></p>
                </div>
                <div class="btn-group" role="group">
                    <div th:replace="public/fragments/offcanvas/edit-address-offcanvas :: edit-address-offcanvas(address=${address}, uniqueId=${iterStat.index})"></div>

                    <button type="button" class="btn btn-primary btn-sm"
                            data-bs-toggle="offcanvas"
                            th:data-bs-target="'#offcanvasAddress_' + ${iterStat.index}"
                            th:aria-controls="'offcanvasAddress_' + ${iterStat.index}">
                        <i class="ri-pencil-line"></i> Editar
                    </button>

                    <form th:action="@{/cliente/removeAddress}" method="post" th:object="${address}">
                        <input type="hidden" th:name="addressId" th:value="${address.id}"/>
                        <button type="submit" class="btn btn-danger btn-sm text-white">
                            <i class="ri-delete-bin-line"></i> Remover
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>