<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="password-profile">
    <form th:action="@{/cliente/editPassword}" method="post" th:object="${client}">
        <div class="row gy-3 gy-xxl-4">
            <div class="col-12">
                <label for="currentPassword" class="form-label">Senha atual</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="col-12">
                <label for="newPassword" class="form-label">Nova senha</label>
                <input type="password" class="form-control" id="newPassword" th:field="*{password}" required>
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="col-12">
                <label for="confirmPassword" class="form-label">Confirme a senha</label>
                <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('passwordsMatching')}" th:errors="*{passwordsMatching}">
            </div>
            <div class="col-12 pt-2">
                <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>