<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="password-profile">
    <form action="#!">
        <div class="row gy-3 gy-xxl-4">
            <div class="col-12">
                <label for="currentPassword" class="form-label">Senha atual</label>
                <input type="password" class="form-control" id="currentPassword">
            </div>
            <div class="col-12">
                <label for="newPassword" class="form-label">Nova senha</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="col-12">
                <label for="confirmPassword" class="form-label">Confirme a senha</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>