<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="cards-profile">

    <div class="row g-0 mb-3 ">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </div>
    </div>

    <div th:each="card, iterStat : ${client.cards}">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <input type="hidden" th:name="cards[__${iterStat.index}__].cardNumber" th:value="${card.cardNumber}">
                    <input type="hidden" th:name="cards[__${iterStat.index}__].holderName" th:value="${card.holderName}">
                    <input type="hidden" th:name="cards[__${iterStat.index}__].expiryDate" th:value="${card.expiryDate}">
                    <input type="hidden" th:name="cards[__${iterStat.index}__].cvv" th:value="${card.cvv}">
                    <p class="mb-1"><strong>Número do Cartão:</strong> <span th:text="${card.cardNumber}"></span></p>
                    <p class="mb-1"><strong>Nome do Titular:</strong> <span th:text="${card.holderName}"></span></p>
                    <p class="mb-1"><strong>Data de Validade:</strong> <span th:text="${card.expiryDate}"></span></p>
                    <p class="mb-1"><strong>Código CVV:</strong> <span th:text="${card.cvv}"></span></p>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="ri-pencil-line"></i> Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-sm text-white">
                        <i class="ri-delete-bin-line"></i> Excluir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>