<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="admin-client-edit-password(currentClient,uniqueId)">
    <form th:action="@{/admin/clientes/editPassword}" method="post" th:object="${clientTemplate}">
        <div class="row gy-3 gy-xxl-4">
            <input type="hidden" th:id="'clientId_' + ${uniqueId}" name="clientId" th:value="${currentClient.id}">
            <div class="col-12">
                <label th:for="'newPassword_' + ${uniqueId}" class="form-label">Nova senha</label>
                <input type="password" class="form-control" th:id="'newPassword_'+ ${uniqueId}" th:field="*{password}"
                       required>
                <div class="invalid-feedback d-block"
                     th:if="${#fields.hasErrors('password')} and ${clientTemplate.id} == ${uniqueId}"
                     th:errors="*{password}"></div>
            </div>
            <div class="col-12">
                <label th:for="'confirmPassword_' + ${uniqueId}" class="form-label">Confirme a senha</label>
                <input type="password" class="form-control" th:id="'confirmPassword_' + ${uniqueId}"
                       th:field="*{confirmPassword}" required>
                <div class="invalid-feedback d-block"
                     th:if="${#fields.hasErrors('passwordsMatching')} and ${clientTemplate.id} == ${uniqueId}"
                     th:errors="*{passwordsMatching}">
                </div>
            </div>
            <div class="col-12 pt-2">
                <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>