<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="form-client-credit-card">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="mb-0">CARTÃO DE CRÉDITO</h5>
        </div>
        <div class="card-body">
            <div th:replace="public/fragments/offcanvas/new-credit-card-offcanvas"></div>

        </div>
    </div>
</div>


</body>
</html>