<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--/*@thymesVar id="client" type="com.les.t_shirt_gen.model.users.Client"*/-->
<!--/*@thymesVar id="genders" type="java.util.List<com.les.t_shirt_gen.enums.Gender>"*/-->
<div class="container" th:fragment="form-client-general-information">
    <div class="card">
        <div class="card-header d-flex align-items-center flex-column gap-2">
            <img th:src="@{/img/logo_3.png}" alt="Logo" class="me-2" style="max-width: 70px; max-height: 70px;">
            <h5 class="mb-0">CRIAR CONTA</h5>
        </div>
        <div class="card-body">
            <div th:if="${not #lists.isEmpty(mensagem)}" class="alert alert-success alert-dismissible fade show"
                 role="alert">
                <i class="ri-checkbox-circle-line"></i> <span th:text="${mensagem}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${not #lists.isEmpty(alert)}" class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                <i class="ri-alert-line"></i> <span th:text="${alert}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nome" th:field="*{name}" placeholder="Digite seu nome">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cpf" th:field="*{cpf}" placeholder="Digite seu CPF"
                       maxlength="14">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></div>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gênero<span class="text-danger">*</span></label>
                <select class="form-select" id="gender" th:field="*{gender}">
                    <option value="" disabled>Selecione o gênero</option>
                    <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender.name}">Gênero</option>
                </select>
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('gender')}"
                     th:errors="*{gender}"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite seu email">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Telefone<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}" placeholder="Digite seu telefone"
                       maxlength="14">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="senha" th:field="*{password}"
                       placeholder="Digite sua senha">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
                <label for="confirmarSenha" class="form-label">Confirmar Senha<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="confirmarSenha" th:field="*{confirmPassword}"
                       placeholder="Confirme sua senha">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('passwordsMatching')}"
                     th:errors="*{passwordsMatching}"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>