<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" th:fragment="form-client-address">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="mb-0">ENDEREÇOS</h5>
        </div>
        <div class="card-body">
            <p class="text-center">Adicione um ou mais endereços para entrega.</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddress"
                    aria-controls="offcanvasAddress">
                <i class="ri-add-line me-2"></i>Adicionar Novo Endereço
            </button>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('addresses')}" th:errors="*{addresses}"></div>
            <div id="addressesContainer" class="mt-2">
                <div th:each="address, iterStat : ${client.addresses}">
                    <div class="card mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center address-item">
                            <div>
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].zipCode" th:value="${address.zipCode}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].street" th:value="${address.street}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].number" th:value="${address.number}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].complement" th:value="${address.complement}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].neighborhood" th:value="${address.neighborhood}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].city" th:value="${address.city}">
                                <input type="hidden" th:name="addresses[__${iterStat.index}__].state" th:value="${address.state}">
                                <p class="mb-1"><strong>CEP:</strong> <span th:text="${address.zipCode}"></span></p>
                                <p class="mb-1"><strong>Rua:</strong> <span th:text="${address.street}"></span></p>
                                <p class="mb-1"><strong>Número:</strong> <span th:text="${address.number}"></span></p>
                                <p class="mb-1"><strong>Complemento:</strong> <span
                                        th:text="${address.complement}"></span></p>
                                <p class="mb-1"><strong>Bairro:</strong> <span th:text="${address.neighborhood}"></span>
                                </p>
                                <p class="mb-1"><strong>Cidade:</strong> <span th:text="${address.city}"></span></p>
                                <p class="mb-1"><strong>Estado:</strong> <span th:text="${address.state}"></span></p>
                            </div>
                            <button type="button" class="btn btn-danger text-white btn-sm remove-address">
                                <i class="ri-delete-bin-6-line"></i> Remover
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>