<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagamento</title>
</head>
<body>
<section class="h-100 h-custom" th:fragment="payment-checkout">
    <div class="h-100 pb-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                    <div class="card-body p-4">
                        <div class="row justify-content-between">
                            <div class="col-md-12 col-lg-8 col-xl-6 mb-4 mb-md-0">

                                <div class="mb-3">
                                    <label for="coupon" class="form-label"><strong>Aplicar Cupom:</strong></label>
                                    <input type="text" id="coupon" class="form-control"
                                           placeholder="Digite o código do cupom">
                                </div>
                                <button type="button" class="btn btn-secondary mb-3" onclick="applyCoupon()">Aplicar
                                    Cupom
                                </button>

                                <div id="couponWarning" class="alert alert-warning" style="display:none;"></div>

                                <div class="mb-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <label for="card" class="form-label"><strong>Selecione o
                                            Cartão:</strong></label>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasCreditCard_New"
                                                aria-controls="offcanvasCreditCard_New">
                                            <i class="ri-add-line me-2"></i>Novo Cartão
                                        </button>
                                    </div>

                                    <select id="card" class="form-select">
                                        <option th:each="card : ${user.cards}"
                                                th:value="${card.id}"
                                                th:text="'**** **** **** ' + ${card.cardNumber.substring(card.cardNumber.length() - 4)} + ' - ' + ${card.holderName}">
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="amount" class="form-label"><strong>Valor a ser cobrado no
                                        cartão:</strong></label>
                                    <input type="number" id="amount" class="form-control" min="0" step="00.01"
                                           placeholder="Digite o valor">
                                </div>


                                <button type="button" class="btn btn-primary mb-3" onclick="addCard()">Adicionar
                                    pagamento
                                </button>

                                <div id="selectedCards" class="mb-3">
                                    <h5>Cartões Selecionados:</h5>
                                    <ul id="cardList" class="list-group">
                                    </ul>
                                </div>

                                <div id="hiddenPayments"></div>
                            </div>


                            <div class="col-lg-4 col-xl-3">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Produtos</p>
                                    <p class="mb-2" th:text="${cart.getFormattedTotalPrice()}"></p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Frete</p>
                                    <p class="mb-0" id="payment-freight-checkout">R$ 0,00</p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Cupom aplicado: <span id="coupon-text">Nenhum</span></p>
                                    <p class="mb-0 text-success">-R$<span id="discountAmount">0.00</span></p>
                                </div>

                                <hr class="my-1">
                                <div class="d-flex justify-content-between mb-1">
                                    <p class="mb-1">Valor Total</p>
                                    <p class="mb-1" id="totalAmount" th:text="${cart.getFormattedTotalPrice()}"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-2">Restante a ser pago</p>
                                    <p class="mb-2" id="totalPaymentAmount"
                                       th:text="${cart.getFormattedTotalPrice()}"></p>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block btn-lg">
                                    <span>Concluir Compra</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/payment-checkout.js}"></script>
</section>

</body>
</html>
