<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="order-details(order)">
    <section style="background-color: #eee;">

        <div>
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <span class="lead fw-normal">Status do pedido: <span class="badge bg-primary" th:text="${order.status.name}"></span></span>
                                    <span class="text-muted small">Pedido #<span th:text="${order.id}"></span></span>
                                </div>
                                <div>
                                    <div th:replace="public/fragments/orders/modal-order-details :: modal-order-details(order=${order})"></div>

                                    <div th:if="${order.exchangeRequests.size() > 0}">
                                        <button class="btn btn-outline-secondary mt-2"
                                                data-bs-toggle="modal"
                                                th:data-bs-target="'#modalExchangeRequests' + ${order.id}">
                                            Ver Solicitações de Troca
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div th:each="item : ${order.items}">
                                <div class="d-flex justify-content-between">
                                    <p class="fw-bold mb-0"
                                       th:text="${item.product.name + ' (Qtd: ' + item.quantity + ')'}"></p>
                                    <p class="text-muted mb-0" th:text="${item.getFormattedTotalPrice()}"></p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold mb-0">Data Prevista de Envio</p>
                                        <p class="text-muted mb-0" th:text="${order.orderSend.getFormattedInitDatePrediction()}"></p>
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <p class="fw-bold mb-0">Data Real de Envio</p>
                                        <p class="text-muted mb-0" th:text="${order.orderSend.getFormattedInitDateReal()}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold mb-0">Data Prevista de Entrega</p>
                                        <p class="text-muted mb-0" th:text="${order.orderSend.getFormattedEndDatePrediction()}"></p>
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <p class="fw-bold mb-0">Data Real de Entrega</p>
                                        <p class="text-muted mb-0" th:text="${order.orderSend.getFormattedEndDateReal()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="public/fragments/orders/modal-exchange-requests :: modal-exchange-requests(order=${order})"></div>

</div>

</body>
</html>