$white: #FAFBFD;
$dark-blue: #091A21;
$blue: #1c2b32;
$blue-800: #334957;
$blue-900: #234547;

$primary: $blue;
$info: $blue-900;
$secondary: $blue-800;
$dark: $dark-blue;
$light: $white;
$font-family-base: "Kanit", sans-serif;
$font-family-sans-serif: "Kanit", sans-serif;
$body-bg: $white;
$body-color: $dark-blue;
$navbar-dark-color: $white;


