$white: #FAFBFD;
$dark-green: #091A21;
$green: #13A157;
$green-800: #00673C;
$green-900: #234547;

$primary: $green-800;
$secondary: $green;
$dark: $dark-green;
$light: $white;
$font-family-base: "Kanit", sans-serif;
$font-family-sans-serif: "Kanit", sans-serif;
$body-bg: $white;
$body-color: $dark-green;
$navbar-dark-color: $white;


