.img-icon-16 {
  width: 16px;
  height: 16px;
}

.background-gradient {
  background: rgb(9,26,33);
  background: linear-gradient(150deg, rgba(9,26,33,1) 19%, rgba(44,65,78,1) 46%, rgba(28,43,50,1) 78%, rgba(35,69,71,1) 100%);
   background-repeat: no-repeat;
}

.main-adm {
  margin-left: 285px;
}

.body-adm {
  background-color: #F5F5F9;
}