.img-icon-16 {
  width: 16px;
  height: 16px;
}

.background-gradient {
  background: rgb(9, 26, 33);
  background: linear-gradient(150deg, rgba(9, 26, 33, 1) 9%, rgba(0, 103, 60, 1) 62%, rgba(0, 104, 61, 1) 62%, rgba(19, 161, 87, 1) 100%);
  background-repeat: no-repeat;
}

.main-adm {
  margin-left: 285px;
}