<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    <link th:href="@{/css/custom.min.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/img/logo_3.png}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
          rel="stylesheet"/>
</head>
<body>
<div th:replace="public/fragments/nav-bar :: navbar"></div>
<main class="container my-3">
    <h1 class="mb-4">Checkout</h1>

    <div th:replace="utils/AlertMessages :: alerts"></div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="mb-3"><strong>Produtos</strong></h4>
            <div class="card-body">
                <div th:each="item : ${cart.items}">
                    <div th:replace="public/fragments/checkout/item-product-checkout :: item-product-checkout(${item})"></div>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{/pedidos}" method="post" th:object="${orderFormDto}">
        <div th:replace="public/fragments/checkout/address-checkout :: address-shopping-cart"></div>
        <div th:replace="public/fragments/checkout/payment-checkout :: payment-checkout"></div>
    </form>
</main>
<div th:replace="public/fragments/footer :: footer"></div>
<div th:replace="public/fragments/offcanvas/edit-address-offcanvas :: edit-address-offcanvas(address=null, uniqueId='New', return='checkout')"></div>
<div th:replace="public/fragments/offcanvas/edit-credit-card-offcanvas :: edit-credit-card-offcanvas(card=null, uniqueId='New',return='checkout')"></div>

<script th:src="@{/js/viaCep.js}"></script>
<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
<script th:src="@{/js/masks.js}"></script>
<script th:src="@{/js/mocks/mock-checkout-freight.js}"></script>
</body>
</html>